/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    chosen {
        zmk,matrix_transform = &default_transform;

        // zmk,matrix_transform = &five_column_transform;
    };
};

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD0";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";

            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   | 
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESC    &kp Q  &kp W  &kp E     &kp R  &kp T          &kp Y        &kp U  &kp I      &kp O    &kp P     &kp BSPC
&kp TAB  &kp A  &kp S  &kp D     &kp F  &kp G          &kp H        &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
&td0       &kp Z  &kp X  &kp C     &kp V  &kp B          &kp N        &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp RIGHT_SHIFT
                         &kp LALT  &mo 1  &lt 3 ENTER    &lt 3 SPACE  &mo 2  &kp RALT
            >;
        };

        lower_layer {
            display-name = "NUMBER";

            // -----------------------------------------------------------------------------------------
            // |      |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  |   -  |
            // |      |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |   \  |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     | SHFT |
            //                    |     |     |     |   | DEL | INS |    |

            bindings = <
&trans  &kp EXCL         &kp AT          &kp HASH      &kp DLLR      &kp PRCNT          &kp CARET        &kp AMPS         &kp ASTRK        &kp LPAR         &kp RPAR  &kp MINUS
&trans  &kp N1           &kp N2          &kp N3        &kp N4        &kp N5             &kp N6           &kp N7           &kp N8           &kp N9           &kp N0    &kp BSLH
&kp LEFT_SHIFT  &rgb_ug RGB_OFF  &rgb_ug RGB_ON  &trans        &trans        &rgb_ug RGB_EFF    &rgb_ug RGB_EFR  &rgb_ug RGB_SPI  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &trans   &kp RIGHT_SHIFT
                                         &trans        &trans        &trans             &kp DEL          &kp INS          &trans
            >;
        };

        raise_layer {
            display-name = "SYMBOL";

            // -----------------------------------------------------------------------------------------
            // |   ~  |     |     |  v-  | v+  |     |   | PG UP|     |  UP  |      |     | DEL  |
            // |      |     |     | HOME | END |     |   | PG DN| LFT |  DWN | RGHT |     |      |
            // | SHFT |     |     |prev  | next|pause|   |      |     |     |       |     | SHFT |
            //                    | GUI |     | ENT |   | SPACE |     | CTRL |

            bindings = <
&kp TILDE      &trans  &trans  &kp C_VOL_DN &kp C_VOL_UP &trans      &kp PG_UP  &trans   &kp UP   &trans    &trans  &kp DEL
&trans         &trans  &trans  &kp HOME     &kp END      &trans      &kp PG_DN  &kp LEFT &kp DOWN &kp RIGHT &trans  &trans
&kp LEFT_SHIFT &trans  &trans  &kp C_PREV   &kp C_NEXT   &kp C_PAUSE &trans     &trans   &trans   &trans    &trans  &kp RIGHT_SHIFT
                              &kp LGUI &trans &kp RET                 &kp SPACE &trans &kp RCTRL
            >;
        };

        layer_3 {
            display-name = "Fn";
            // -----------------------------------------------------------------------------------------
            // |  `   |  F1 |  F2 |  F3  | F4  |  F5 |     | F6   | F7  |  F8  |  F9  | F10  | F11  |
            // |      | BT0 | BT1 | BT2  | BT3 | BT4 |     |CLR BT|     |      |      | PS   | F12  |
            // |      |   |   |  | sys_reset|bootloader|     | bootloader |     |     |       |     | SHFT |
            //                    | GUI |     | ENT |     | SPACE |     | CTRL |

            bindings = <
&kp GRAVE  &kp F1  &kp F2  &kp F3  &kp F4      &kp F5         &kp F6       &kp F7  &kp F8  &kp F9  &kp F10          &kp F11
&trans  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_CLR_ALL &trans  &trans  &trans  &kp PRINTSCREEN &kp F12
&trans  &trans  &trans  &trans  &sys_reset  &bootloader    &bootloader  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans      &trans         &trans       &trans  &trans
            >;
        };
    };
};
